#search_box {
    border-radius: 20px;
    width: 500px;
    height: 40px;
    border: 1px solid 
    lightgray;
    padding: 3%;
    margin: 2%;
    z-index: 5;
}

input#search_box:hover {
    box-shadow: 0 0 15px lightslategrey;
}

#search_submit {
    border: none;
    padding: 2%;
    height: 43px;
    width: 100px;
    color: #fff;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-style: bolder;
}

#search_submit:active {
    transform: scale(.9);
}

.center {
	max-width: 50%;
	display: inline-block;
	left: 25%;
	right: 50%;
	margin-top: 20%;
	margin-bottom: 33.25%;
}

.search {
	display: inline;
}