{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<title>CompaniesSearch</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
		<link href="{% static 'css/searchpage.css' %}" rel="stylesheet" type="text/css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="row search">
				<form type="get" action="." style="margin: 0">
					<img src="{% static 'homeicon.png' %}" width="10%" />
					<input  id="search_box" type="text" name="search_box"  placeholder="Search company name..." >
					<button id="search_submit" type="submit" >Search</button>
				</form> 
			</div>
			<h6><b>We find 6 results.</b></h6>
			<hr>
			<div class="row">
				
			</div>
			<div class="row">
				<ul style="list-style-type:none;">
					<li><a href="">Company 1</a></li>
					<li><a href="">Company 2</a></li>
					{% if search_query is not None %}
					<li><a href="">Nama company: {{ search_query }}</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</body>
</html>